* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
}

header, footer {
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
}

header {
    justify-content: space-between;
    padding: 0 1rem;
}

footer {
    justify-content: center;
}

.imageContainer>img {
    height: 80px;
    padding: 1rem 0;
}

.row {
    width: 630px;
    padding: 2rem;
    height: calc(100vh - 160px);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.grid_cell {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timesTen {
    width: calc(100% / 10);
    height: calc(100% / 10);
}

.timesNine {
    width: calc(100% / 9);
    height: calc(100% / 9);
}

.timesSeven {
    width: calc(100% / 7);
    height: calc(100% / 7);
}

.azure {
    background-color: aquamarine;
}